<html>

<head>
  <title>Fresh Cup</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="vue.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <h1>Fresh Cup</h1>
    </header>

    <h2>Coffee Log</h2>
    <ul>
      <coffee-item v-for="coffee in coffees" :coffee="coffee">
      </coffee-item>
    </ul>

    <new-coffee :flavors="flavors" current="new">
    </new-coffee>

    <pre>{{$data}}</pre>
  </div>
  <!-- end main -->
  <!-- templates -->
  <template id="new-coffee">
    <div>
      <h2>new coffee</h2>
      
      <input type="text" name="name" placeholder="name">
      <input type="text" name="origin" placeholder="origin">
      
      <h3>flavors</h3>
      {{flavorList}}
      <div v-for="flavor in flavors">
        <button @click="reveal(flavor)">{{flavor.category}}</button>
      </div>
     
      
      <flavor v-for="note in current" :note="note" @add="list">
      </flavor>
    </div>
  </template>


  <template id="coffee-item">
    <li>  
      <h3>{{coffee.title}}</h3>
      <p>{{coffee.producer}}, {{coffee.origin}}</p>
    </li>
  </template>

  <template id="flavor-btn">
    <button @click="addFlavor()">{{note}}</button>
  </template>

  <script type="text/javascript" src="app.js"></script>
</body>

</html>
