<html>

<head>
  <title>Fresh Cup</title>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/vue.js"></script>
</head>

<body>
  <div id="main">
    <header class="top">
      <h1>Fresh Cup</h1>
      <div class="circle-btn" @click="displayNew = !displayNew">{{displayNew ? "–": "+"}}</div>
    </header>

    <new-coffee @new-coffee="addNewCoffee" :tastings="tastings" v-if="displayNew">
    </new-coffee>

    <h2>Past Pours</h2>
    <ul>
      <coffee-item v-for="coffee in coffees" :coffee="coffee" :display="false">
      </coffee-item>
    </ul>

    <!-- <pre>{{$data}}</pre> -->
  </div>
  <!-- end main -->

  <!-- templates -->
  <template id="new-coffee">
    <div>
            
      <div class="controls"> 
        <h2>Add New Coffee</h2>
        <input type="text" name="name" placeholder="name" v-model="coffee.title">
        <input type="text" name="producer" placeholder="producer" v-model="coffee.producer">
        <input type="text" name="origin" placeholder="origin" v-model="coffee.origin">
           
        <p v-if="current" @click="current=''">close</p>

        <button @click="current='flavors'">Flavors</button>
        <button @click="current='body'">Body</button>
        <button @click="current='adj'">Adjective</button>
        <button @click="current='notes'">Notes</button>

        <tasting v-show="current=='flavors'" :info="tastings.flavors" :type="'flavors'" @add-flavor="updateFlavors">
        </tasting>

        <tasting v-show="current=='body'" :info="tastings.body" :type="'body'" @add-flavor="updateFlavors">
        </tasting>

        <div class="traits" v-show="current=='adj'">
          <h3>Adjectives</h3>
          <adj v-for="adjective in tastings.adjectives" :adj="adjective" @add-flavor="updateFlavors">
        </div>

        <div class="traits" v-show="current=='notes'">
          <h3>Notes</h3>
         <textarea v-model="coffee.notes"></textarea>
        </div>
        
        <div class="submit">
        <button @click="submit">add</button>
        <button @click="reset">reset</button>
        </div>
      </div>  <!-- end of controls div -->

      <!-- display will control whether the item is explanded to start or not. -->
      <!-- hijacking the coffee item for reuse here -->
      <ul v-if="coffee.title">
        <coffee-item :coffee="coffee" :display="true">
        </coffee-item>
      </ul>
    </div>    <!-- end of component div --> 
  </template>

  <template id="coffee-item">
    <li @click="expand">  
      <h3>{{coffee.title}}</h3>
      <p>{{coffee.producer}}, {{coffee.origin}}</p>

      <!-- show this only if expand is true -->
      <div v-show="showing">
        <h4>Description</h4>
        <ul>
          <li>body: {{coffee.body}}</li>
          <li>flavors: {{coffee.flavors.join(', ')}}</li>
          <li>adjectives: {{coffee.adjectives.join(', ')}}</li>
          <li>notes: {{coffee.notes}}</li>
        </ul> 
      </div>
    </li>
  </template>

  <template id="adj-btn">
    <button @click="addAdj">{{adj}}</button>
  </template>

  <template id="tasting">
    <div class="traits">
      <h3>{{type}}</h3>
      <div class="categories">
        <ul> 
          <li v-for="item in info" @click="current=item.notes">{{item.category}}</li> 
        </ul>
        <p v-if="current" @click="current=''">close</p>
      </div>

      <div v-if="current" class="descriptions"> 
        <button v-for="note in current" @click="add(note, type)">{{note}}</button> 
      </div>
    </div>
    <!-- end of traits --> 
  </template>

  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
